body{
    background-color: hsl(220, 15%, 55%);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0 1.5rem;

}
#card-container{
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 1.3em;
    text-align: center;
    font-family:  sans-serif;
    max-width: 300px;
}
#card-container h1{
    font-size: 22px;
}
#card-container img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}